.cardInfoContainer {
    width: 100%;
}

/* card header  */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardHeaderText {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    gap: 10px;
}

.profilePicture {
    width: 40px;
}

.badge {
    background-color: #5357b7;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 1px 2px;
    border-radius: 4px;
}

.btn {
    color: #5357b7;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.btndelete {
    color: #f06664;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.btndelete + .btn {
    margin-left: 15px;
}

.btnIcon {
    margin-right: 5px;
}

.btn:hover .btnIcon, .btndelete:hover .btnIcon{
    opacity: .5;
}

.btn:hover {
    color: #c4c6ef;
}

.btndelete:hover {
    color: #fdb9ba;
}

/* card text  */

.cardText {
    margin-top: 10px;
    line-height: 25px;
    width: 100%;
}

.cardText textarea {
    width: 100%;
    height: 120px;
}

.cardText form {
    display: flex;
    flex-direction: column;
}

.cardText button {
    align-self: flex-end;
    padding: .5em 1em;
    border: none;
    background-color: #5357ba;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.cardText button:hover {
    opacity: .5;
}