.cardInfoContainer {
    width: 100%;
}

/* card header  */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rebeccapurple;
    width: 100%;
}

.cardHeaderText {
    display: flex;
    align-items: center;
    background-color: red;
    flex-basis: 40%;
    justify-content: space-between;
}

.profilePicture {
    width: 40px;
}

/* card text  */

.cardText {
    margin-top: 10px;
    line-height: 25px;
}