.card {
    display: flex;
    max-width: 800px;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.cardReply {
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    width: 90%;
    margin: auto;
}

.replyContainer {
    border-left: 3px solid rgb(167, 167, 167);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.verticalLine {
    width: 60px;
}

@media (max-width: 800px) {
    .verticalLine {
        display: none;
    }

    .replyContainer {
        border-left: none;
    }
}